﻿@page "/ConfirmPassword"
@using Fluxor
@using Keywordtracker.Shared.Models
@using KeywordTrackerFrontend.Services
@using KeywordTrackerFrontend.Store.LocalStorage
@using Microsoft.AspNetCore.WebUtilities
@inject NavigationManager _navigationManager;
@inject IDispatcher _dispatcher;
@inject IState<LocalStorageState> _state;
@inject IUserService UserService

<div class="d-flex align-items-center flex-column justify-content-center h-100">
    <MudText>
        <h3 class="font-weight-bold">

            @if (Success) {
                <div class="alert alert-success" role="alert">
                    <MudText>SUCCESS</MudText>
                </div>
            }
            else {
                if (Errors == null) {
                    <p>PLEASE CONFIRM YOUR EMAIL</p>
                }
                else {
                    <MudText Typo="Typo.body2" Align="Align.Center" Class="my-4">
                        @if (ShowErrors) {
                            <div class="alert alert-danger" role="alert">
                                @foreach (var error in Errors) {
                                    <MudText>@error</MudText>
                                }
                            </div>
                        }
                    </MudText>
                }
            }
        </h3>
    </MudText>
    <MudButton OnClick="GoToHome" Variant="Variant.Filled" Color="Color.Primary">Go Home</MudButton>
</div>


@code {
    private bool Success = false;
    private ConfirmPasswordModel model = new ConfirmPasswordModel();
    private bool ShowErrors;
    private IEnumerable<string> Errors;
    private string EmailAddress;


    protected override void OnInitialized() {
        var uri = _navigationManager.ToAbsoluteUri(_navigationManager.Uri);
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("email", out var email)) {
            model.Email = Convert.ToString(email);
        }
        else {
            ShowErrors = true;
            Errors = new[] {"Please check your url or try again!"};
        }
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("token", out var token)) {
            model.Token = Convert.ToString(token);
        }
        HandleResetPassword();
    }

    private async void HandleResetPassword() {
        if (model.Email != null && model.Token != null) {
            ShowErrors = false;

            var result = await UserService.ConfirmPassword(model);
            
            if (result.Successful) {
                Success = true;
                Console.WriteLine(result);
            }
            else {
                Errors = result.Errors;
                ShowErrors = true;
            }
        }
        this.StateHasChanged();
    }

    private void GoToHome() {
        _navigationManager.NavigateTo("/");
    }

}