﻿@page "/forgotpassword"
@using Fluxor
@using Keywordtracker.Shared.Models
@using KeywordTrackerFrontend.Store.LocalStorage
@using KeywordTrackerFrontend.Services
@using Microsoft.AspNetCore.Components
@inject NavigationManager _navigationManager;
@inject IDispatcher _dispatcher;
@inject IState<LocalStorageState> _state;
@inject IUserService UserService

<div class="d-flex align-items-center flex-column justify-content-center h-100">
    <MudText>
        <MudText Typo="Typo.h4"> Reset your password</MudText>
    </MudText>
    <EditForm Model="@forgotPasswordModel" OnValidSubmit="HandleForgotPassword">

        <DataAnnotationsValidator/>


        <MudTextField Label="Email" HelperText="Enter the email to change the password"
                      @bind-Value="forgotPasswordModel.Email" For="@(() => forgotPasswordModel.Email)"/>

        <MudCardActions Style="align-items: center; justify-content: center">
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Send confirmation Mail</MudButton>
        </MudCardActions>

        @if (EmailSent)
        {
            <MudText Align="Align.Center" Color="Color.Success">
                Check your emails!
            </MudText>
        }
    </EditForm>
</div>


@code {
    private readonly ForgotPasswordModel forgotPasswordModel = new();
    private bool EmailSent;

    private async Task HandleForgotPassword()
    {
        await UserService.ForgotPassword(forgotPasswordModel);
        EmailSent = true;
    }

    private async Task GoToHome()
    {
        _navigationManager.NavigateTo("/");
    }

}