﻿@page "/"
@using Fluxor
@using KeywordTrackerFrontend.Services
@using KeywordTrackerFrontend.Store.LocalStorage
@using System.Reflection.Metadata
@inject NavigationManager _navigationManager;
@inject IDispatcher _dispatcher;
@inject IState<LocalStorageState> _state;

<div class="d-flex align-items-center flex-column justify-content-center" style="text-align:center;margin-top: 200px;">
    <MudText Typo="Typo.h2">
        <p class="anim-typewriter">KeywordTracker</p>
    </MudText>
    <MudText Typo="Typo.h4" Class="mt-1">
        Are you looking for a fast reliable Keyword-Tracker? <br/>
        Then this Tracker is the perfect solution for you!
    </MudText>
    <AuthorizeView>
        <Authorized>
            <MudButton Size="Size.Large" OnClick="GoToDashboardCallback" Class="mt-5">
                Go to Dashboard
            </MudButton>
                 
        </Authorized>
        
        <NotAuthorized>
                  <MudButton Size="Size.Large" OnClick="GetStartedCallbackRegister" Class="mt-5">
                      <p>Get Started!</p>
                    </MudButton>
                    <MudButton Size="Size.Large" OnClick="GetStartedCallbackLogin">
                        I already have an account!
                    </MudButton>
            
                    <Register @ref="_register"/>
                    <Login @ref="_login"/>
        </NotAuthorized>
     
  
      
    </AuthorizeView>
    
</div>

@code{
    public Register _register;
    public Login _login;

    protected override void OnInitialized()
    {
        _dispatcher.Dispatch(new LoadStorageAction());
        base.OnInitialized();
    }

    private async void GetStartedCallbackRegister()
    {
        _register.Show();
    }

    private async void GetStartedCallbackLogin()
    {
        _login.Show();
    }

    private void GoToDashboardCallback()
    {
        _navigationManager.NavigateTo("/dashboard");
    }

}