.line-1{
    position: relative;
    top: 50%;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    transform: translateY(-50%);
    white-space: nowrap;
}

/* Animation */
.anim-typewriter{
    animation: typewriter 4s steps(200) 1s 1 normal both,
    blinkTextCursor 500ms steps(11) infinite normal;
    white-space: nowrap;
}
@keyframes typewriter{
    from{width: 0;}
    to{width: 24em;}
}
@keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
}