﻿@page "/resetpassword"
@using Fluxor
@using Keywordtracker.Shared.Models
@using KeywordTrackerFrontend.Store.LocalStorage
@using KeywordTrackerFrontend.Services
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.WebUtilities
@inject NavigationManager _navigationManager;
@inject IDispatcher _dispatcher;
@inject IState<LocalStorageState> _state;
@inject IUserService UserService

<div class="d-flex align-items-center flex-column justify-content-center h-100">
    <EditForm Model="@model" OnValidSubmit="HandleResetPassword">
        <DataAnnotationsValidator/>
        @if (EmailAddress != null)
        {
            <MudText Typo="Typo.h5">Reset Password for @EmailAddress</MudText>
            <MudCard Class="mt-3">
                <MudCardContent>
                    <MudTextField Label="Password" HelperText="Choose a strong password" Class="mt-3"
                                  @bind-Value="model.Password" For="@(() => model.Password)" InputType="@PasswordInput" Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="ButtonTestclick"/>
                    <MudTextField Label="Confirm Password" HelperText="Repeat your new password" Class="mt-3"
                                  @bind-Value="model.ConfirmPassword" For="@(() => model.ConfirmPassword)"InputType="@PasswordInput" Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="ButtonTestclick"/>
                </MudCardContent>
                <MudCardActions>
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto mr-auto">Reset Password</MudButton>
                </MudCardActions>
            </MudCard>
        }
        <MudText Typo="Typo.body2" Align="Align.Center" Class="my-4">
            @if (ShowErrors)
            {
                <div class="alert alert-danger" role="alert">
                    @foreach (var error in Errors)
                    {
                        <p>@error</p>
                    }
                </div>
            }
        </MudText>
    </EditForm>
</div>


@code {
    readonly ClientSideResetPasswordModel model = new();
    private bool ShowErrors;
    private IEnumerable<string> Errors;
    private string EmailAddress;

    private async Task HandleResetPassword()
    {
        if (model.Email != null && model.Token != null)
        {
            ShowErrors = false;

            var result = await UserService.ResetPassword(model);

            if (result.Successful)
            {
                _navigationManager.NavigateTo("/");
            }
            else
            {
                Errors = result.Error;
                ShowErrors = true;
            }
        }
        else
        {
            ShowErrors = true;
            Errors = new[] {"Please check your url or try again!"};
        }
    }

    protected override void OnInitialized()
    {
        var uri = _navigationManager.ToAbsoluteUri(_navigationManager.Uri);
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("email", out var email))
        {
            EmailAddress = Convert.ToString(email);
            model.Email = Convert.ToString(email);
        }
        else
        {
            ShowErrors = true;
            Errors = new[] {"Please check your url or try again!"};
        }
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("token", out var token))
        {
            model.Token = Convert.ToString(token);
        }
    }

    bool isShow;
    InputType PasswordInput = InputType.Password;
    string PasswordInputIcon = Icons.Material.Filled.VisibilityOff;

    void ButtonTestclick()
    {
    @if (isShow)
    {
        isShow = false;
        PasswordInputIcon = Icons.Material.Filled.VisibilityOff;
        PasswordInput = InputType.Password;
    }
    else
    {
        isShow = true;
        PasswordInputIcon = Icons.Material.Filled.Visibility;
        PasswordInput = InputType.Text;
    }
        StateHasChanged();
    }

}