﻿@page "/SetNewEmail"
@using Fluxor
@using Keywordtracker.Shared.Models
@using KeywordTrackerFrontend.Services
@using KeywordTrackerFrontend.Store.LocalStorage
@using Microsoft.AspNetCore.WebUtilities
@inject NavigationManager _navigationManager;
@inject IDispatcher _dispatcher;
@inject IState<LocalStorageState> _state;
@inject IUserService UserService


<div class="d-flex align-items-center flex-column justify-content-center h-100">
    <MudText>
        <h3 class="font-weight-bold">
            @if (Success){
                <p>SUCCESS</p>
            }
            else if (Errors == null){
                <p>LOOK AT YOUR EMAILS</p>
            }
            else{
                <p>
                    <MudText Typo="Typo.body2" Align="Align.Center" Class="my-4">
                        @if (ShowErrors){
                            <div class="alert alert-danger" role="alert">
                                @foreach (var error in Errors){
                                    <MudText>@error</MudText>
                                }
                            </div>
                        }
                    </MudText>
                </p>
            }
        </h3>
    </MudText>
    <MudButton OnClick="GoToHome" Variant="Variant.Filled" Color="Color.Primary">Go Home</MudButton>
</div>


@code {
    private bool Success = false;
    private SetEmailModel model = new SetEmailModel();
    private bool ShowErrors;
    private IEnumerable<string> Errors;
    private string EmailAddress;


    protected override void OnInitialized(){
        var uri = _navigationManager.ToAbsoluteUri(_navigationManager.Uri);
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("email", out var email)){
            model.Email = Convert.ToString(email);
        }
        else{
            ShowErrors = true;
            Errors = new[]{"Please check your url or try again!"};
        }
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("token", out var token)){
            model.Token = Convert.ToString(token);
        }
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("newemail", out var newemail)){
            model.NewEmail = Convert.ToString(newemail);
        }
        HandleSetNewEmail();
    }

    private async void HandleSetNewEmail(){
        if (model.NewEmail != null && model.Token != null){
            ShowErrors = false;

            var result = await UserService.SetNewEmail(model);

            if (result.Successful){
                await UserService.Logout();
                _navigationManager.NavigateTo("/");
                Success = true;
            }
            else{
                Errors = result.Errors;
                ShowErrors = true;
            }
        }
        this.StateHasChanged();
    }
    
    private void GoToHome(){
        _navigationManager.NavigateTo("/");
    }
}