﻿@page "/TestPage"
@inject HttpClient _client;
<h3>TestPage</h3>

<MudButton OnClick='() => _client.PostAsync("https://localhost:6001/protected", null)'>Protected</MudButton>
<MudButton OnClick='() => _client.PostAsync("https://localhost:6001/unprotected", null)'>Unprotected</MudButton>

@code {
    
}