@page "/dashboard/account"
@using Fluxor
@using Keywordtracker.Shared.Models
@using KeywordTrackerFrontend.Store.LocalStorage
@using KeywordTrackerFrontend.Services
@inject NavigationManager _navigationManager;
@inject IDispatcher _dispatcher;
@inject IState<LocalStorageState> _state;
@inject IUserService UserService
@using Microsoft.AspNetCore.Authorization
@using System.Globalization
@attribute [Authorize]
@layout DashboardLayout

<div class="d-flex justify-content-center" style="padding:40px">
    <MudPaper class="content p-4" style="width:700px">
        <h2>Profile</h2>
        <MudDivider DividerType="DividerType.FullWidth" Class="my-3" Style="background-color:black"/>

        <MudText>
            Hi User: @(_emailNameModel.FirstName + " " + _emailNameModel.LastName)
        </MudText>
        <EditForm Model="@_emailNameModel" OnValidSubmit="ChangeEmail">
            <DataAnnotationsValidator/>
            <MudGrid Style="margin-top: 12px">
                <MudItem xs="12" md="6">

                    <MudForm>
                        <MudTextField @bind-Value="_emailNameModel.Email" Disabled=@(!changeemail)
                                      For="@(() => _emailNameModel.Email)" Label="Your Email" Variant="Variant.Outlined"/>
                    </MudForm>
                </MudItem>
                <MudItem xs="6" md="3">
                    <MudButton ButtonType="ButtonType.Submit">Change</MudButton>
                </MudItem>

                <MudItem xs="12" md="6">
                    <MudTextField @bind-Value="@password" Disabled="true" Label="Your Password" Variant="Variant.Outlined"/>
                </MudItem>
                <MudItem xs="6" md="3">
                    <MudButton OnClick="ChangePassword">Change</MudButton>
                </MudItem>
            </MudGrid>
        </EditForm>
        <MudDivider DividerType="DividerType.FullWidth" Class="my-3" Style="background-color:black"/>
        <MudText Style="margin-top: 15px">
            You are member since @(_emailNameModel.JoinedAt.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture).Replace('-', '/'))
        </MudText>
        <MudLink Href="javascript: void(0);" @onclick="@(e => DeleteUser())" Color="Color.Error">delete account</MudLink>
        <NewPassword @ref="_newPassword"/>
        <DeleteAccount @ref="_DeleteAccount"/>
        @if (showemailsent)
        {
            <MudText>
                <div class="alert alert-success align-content-center" role="alert">
                    <MudText>CHECK YOUR MAILS</MudText>
                </div>
            </MudText>
        }
    </MudPaper>


</div>


@code {

    private EmailNameModel _emailNameModel = new EmailNameModel();
    private RequestEmailModel _email = new RequestEmailModel();

    private bool showemailsent = false;
    private bool changeemail = false;
    private string baseEmail;
    private string password = "*******************";
    public NewPassword _newPassword;
    public DeleteAccount _DeleteAccount;


    private bool ShowErrors;
    private IEnumerable<string> Errors;
    private bool _success = false;


    protected override void OnInitialized()
    {
        GetData();
        baseEmail = _emailNameModel.Email;
    }

    private async void GetData()
    {
        _emailNameModel = await UserService.GetNameAndEmail();
        this.StateHasChanged();
    }

    private async void ChangeEmail()
    {
        showemailsent = false;
        Console.WriteLine("Requesitng");
        _email.NewEmail = _emailNameModel.Email;
        if (changeemail && (_emailNameModel.Email != baseEmail))
        {
            await UserService.RequestNewEmail(_email);
            showemailsent = true;
        }
        changeemail = !changeemail;
        StateHasChanged();
    }

    private void ChangePassword()
    {
        _newPassword.Show();
    }

    private void DeleteUser()
    {
        _DeleteAccount.Show();
    }

}