@page "/dashboard/tracking"
@page "/dashboard"
@using Microsoft.AspNetCore.Authorization
@using KeywordTrackerFrontend.Services
@using System.Collections
@using Fluxor
@using Keywordtracker.Shared.Models
@attribute [Authorize]
@layout DashboardLayout
@inject IFrontendService _frontendService
<h3>Tracking</h3>

<MudGrid Class="d-flex justify-space-end">

    <MudItem xs="2" sm="2" md="2" Class="align-center">
        <MudButton Size="Size.Large" Variant="Variant.Filled" OnClick="GetStartedCallback" StartIcon="@Icons.Material.Filled.AddCircleOutline" Color="Color.Primary">Keyword</MudButton>
    </MudItem>
</MudGrid>


<MudSimpleTable Style="overflow-x: auto;" Hover="true" Striped="true" Class="mt-5">
    <thead>
    <tr>
        @foreach (var h in headings)
        {
            <th>@h</th>
        }
    </tr>
    </thead>
    <tbody>
    @foreach (var row in keywords)
    {
        <tr>
            <td>@row.Website</td>
            <td>@row.Keyword</td>
            <MudButton OnClick="() => Delete(row.Website, row.Keyword)">Delete</MudButton>
        </tr>
    }
    </tbody>
</MudSimpleTable>

<AddKeywordWebsite @ref="_addKW"></AddKeywordWebsite>

@code {
    readonly string[] headings = {"Website", "Keyword"};

    private IEnumerable<KeywordResult> keywords = new List<KeywordResult>();
    
    

    public string Search { get; set; }

    public AddKeywordWebsite _addKW;

    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();
        
        var result = await _frontendService.GetKeywords();
        keywords = result.Results;
        
        _addKW.onButtonClick += OnButtonClick;
    }

    private void OnButtonClick(object? sender, EventArgs e)
    {
        _frontendService.AddKeyword(new CreateKeywordModel()
        {
            KeywordValue = _addKW.Keyword,
            WebsiteURL = _addKW.Website
        }).ContinueWith(async (e) =>
        {
            var result = await _frontendService.GetKeywords();
            keywords = result.Results;
            StateHasChanged();
        });
    }

    private async void GetStartedCallback()
    {
        _addKW.Show();
    }

    private void Delete(string website, string keyword)
    {
        _frontendService.DeleteKeyword(new DeleteKeywordModel()
        {
            Keyword = keyword,
            Website = website
        }).ContinueWith(async (e) =>
        {
            var result = await _frontendService.GetKeywords();
            keywords = result.Results;
            StateHasChanged();
        });
    }

}