@page "/TestWebsiteApi"
@using KeywordTrackerFrontend.Services
@using Keywordtracker.Shared.Models
@using System.Collections
@inject IWebsiteService _websiteService
<h3>TestWebsiteApi</h3>
<h4>Create Website</h4>
<MudTextField @bind-Value="createWebsiteUrl" Placeholder="Website URL"></MudTextField>
<MudButton OnClick="CreateWebsite">Create Website</MudButton>
<MudButton OnClick="GetWebsites">Get Websites</MudButton>
<MudButton OnClick="DeleteWebsites">Delete Websites</MudButton>

<MudList>
    @foreach (var website in websites)
    {
        <MudListItem>@website</MudListItem>
    }
</MudList>

@code {
    public string createWebsiteUrl;
    private IEnumerable<string> websites;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        websites = new List<string>();
    }

    private void CreateWebsite()
    {
        _websiteService.Create(new CreateWebsiteModel()
        {
            WebsiteURL = createWebsiteUrl
        });
    }

    private async Task GetWebsites()
    {
        websites = (await _websiteService.Read()).Websites;
        StateHasChanged();
    }

    private void DeleteWebsites()
    {
        _websiteService.Delete(new DeleteWebsiteModel()
        {
            Website = createWebsiteUrl
        });
    }

}