﻿<MudMessageBox @ref="authBox" YesText="@null">
    <MessageContent>
        <h1>Add Keyword</h1>
        <MudForm>
            <MudGrid>
                <MudItem>
                    <MudTextField @bind-Value="Keyword" Label="Keyword" InputType="InputType.Text" Variant="Variant.Text"/>
                    <MudTextField @bind-Value="Website" Label="Website - URL" InputType="InputType.Text" Variant="Variant.Text"/>
                </MudItem>
            </MudGrid>
            <MudButton StartIcon="@Icons.Material.Filled.Send" Size="Size.Medium" Class="mt-2" OnClick="AddCallback">Keyword</MudButton>
        </MudForm>
    </MessageContent>
</MudMessageBox>

@code {

    public MudMessageBox authBox;
    public EventHandler onButtonClick { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        //onButtonClick += (sender, args) => authBox.Close();
    }

    public async void Show()
    {
        Keyword = "";
        Website = "";
        var result = await authBox.Show();
        StateHasChanged();
    }

    public string Keyword { get; set; }
    public string Website { get; set; }

    private void AddCallback()
    {
        onButtonClick.Invoke(this, EventArgs.Empty);
        authBox.Close();
    }

}