@inherits LayoutComponentBase

<MudLayout>
    <MudDrawer @bind-Open="@open" Elevation="1" Variant="@DrawerVariant.Mini" OpenMiniOnHover="true" MiniWidth="200px">
        <DashboardMenu></DashboardMenu>
    </MudDrawer>
    <MudMainContent>
        <MudContainer>
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

@code{
    bool open;

    void ToggleDrawer()
    {
        open = !open;
    }

}