@inject NavigationManager NavigationManager

<MudNavMenu>
    <AuthorizeView>
        <Authorized>
            <MudNavLink OnClick="() => Amongus()" Match="NavLinkMatch.All" Icon="@Icons.Filled.Favorite" Style="white-space: nowrap" Class="mt-auto">Welcome @context.User.Identity.Name!</MudNavLink>
        </Authorized>
    </AuthorizeView>
</MudNavMenu>
<MudNavMenu Class="my-auto">
    <MudNavLink Match="NavLinkMatch.All" Href="/dashboard/tracking" Icon="@Icons.Filled.Web">Tracking</MudNavLink>
    <MudNavLink Match="NavLinkMatch.All" Href="/dashboard/apisettings" Icon="@Icons.Filled.Api">API</MudNavLink>
    <MudNavLink Match="NavLinkMatch.All" Href="/dashboard/account" Icon="@Icons.Filled.AccountCircle">Account</MudNavLink>
</MudNavMenu>
<MudNavMenu Class="mt-auto">
    <MudNavLink Match="NavLinkMatch.All" Href="/logout" Icon="@Icons.Filled.Logout" Style="white-space: nowrap" Class="mt-auto">Log out</MudNavLink>
</MudNavMenu>
@code{

    private int clicker = 0;
    private void Amongus() {
        Console.WriteLine(clicker);
        if (clicker >= 10) {
            clicker = 0;
            NavigationManager.NavigateTo("https://www.amongusplay.online"); 
        }
        else {
            clicker++;
        }
    }
}