@using Fluxor
@using Keywordtracker.Shared.Models
@using KeywordTrackerFrontend.Store.LocalStorage
@using KeywordTrackerFrontend.Services
@using Microsoft.AspNetCore.Components
@inject NavigationManager NavigationManager;
@inject IDispatcher Dispatcher;
@inject IState<LocalStorageState> State;
@inject IUserService UserService
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<MudMessageBox @ref="AuthBox" YesText="@null">
    <MessageContent>
        <div style="min-width: 18em">
             <MudText Typo="Typo.h4" Align="Align.Center" Style="color: red">ARE YOU SURE?</MudText>
                    <MudDivider DividerType="DividerType.FullWidth" Class="my-3" Style="background-color:black"/>
                    <EditForm Model="@_model" OnValidSubmit="HandleDelete">
                        <DataAnnotationsValidator/>
            
                        <MudCardContent>
                            <MudTextField Label="Old password" HelperText="Enter your Password"
                                          @bind-Value="_model.Password" For="@(() => _model.Password)" InputType="InputType.Password"/>
                        </MudCardContent>
                        <MudCardActions Style="align-items: center">
                            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Style="margin: auto">Delete Account</MudButton>
                        </MudCardActions>
                    </EditForm>
                    @if (_showErrors)
                    {
                        <div class="alert alert-danger" role="alert">
                            @foreach (var error in _error)
                            {
                                <div>@error</div>
                            }
                        </div>
                    }
        </div>
    </MessageContent>
</MudMessageBox>

@code {
    public MudMessageBox AuthBox;

    private DeleteUserModel _model = new();
    private bool _showErrors;
    private IEnumerable<string> _error;
    
    private async Task HandleDelete()
    {
        _showErrors = false;

        var result = await UserService.DeleteUser(_model);
        
        if (result.Successful) {
            await UserService.Logout();
            NavigationManager.NavigateTo("/");
        }
        else
        {
            _error = result.Errors;
            _showErrors = true;
        }
    }

    public async void Show()
    {
        var result = await AuthBox.Show();
        StateHasChanged();
    }
}