@using System.Security.Claims
@inherits MudComponentBase

<div class="@Class" style="@Style">
    <AuthorizeView>
        <Authorized>
            <MudText>Hello, @context.User.Claims.Where(c => c.Type == ClaimTypes.Name).Select(c => c.Value).SingleOrDefault()! 
                <MudLink Href="/logout">Log out</MudLink></MudText>
        </Authorized>
        <NotAuthorized>
        </NotAuthorized>
    </AuthorizeView>
</div>
