@using KeywordTrackerFrontend.Services
@using Microsoft.AspNetCore.Components
@using Keywordtracker.Shared.Models
@inject IUserService UserService
@inject NavigationManager NavigationManager

<MudMessageBox @ref="AuthBox" YesText="@null">
    <MessageContent>
        <div style="min-width: 18em">
             <MudText Typo="Typo.h4" Align="Align.Center">Login</MudText>
                    <MudDivider DividerType="DividerType.FullWidth" Class="my-3" Style="background-color:black"/>
                    <EditForm Model="@_model" OnValidSubmit="HandleLogin">
                        <DataAnnotationsValidator/>
            
                        <MudCardContent>
                            <MudTextField Label="Email" HelperText="use our preferred email"
                                          @bind-Value="_model.Email" For="@(() => _model.Email)"/>
                            <MudTextField Label="Password" HelperText="Choose a strong password" Class="mt-3"
                                          @bind-Value="_model.Password" For="@(() => _model.Password)" InputType="@_passwordInput"/>
                        </MudCardContent>
                        <MudCardActions Style="align-items: center">
                            <MudButton Class="ml-auto mr-1" ButtonType="ButtonType.Button" OnClick='() => NavigationManager.NavigateTo("/forgotpassword")'>Forgot my password</MudButton>
                            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Log In</MudButton>
                        </MudCardActions>
                    </EditForm>
                    @if (_showErrors)
                    {
                        <div class="alert alert-danger" role="alert">
                            <MudText>@_error</MudText>
                        </div>
                    }
        </div>
    </MessageContent>
</MudMessageBox>

@code {
    public MudMessageBox AuthBox;

    private LoginModel _model = new();
    private bool _showErrors;
    private string _error = "";


    private async Task HandleLogin()
    {
        _showErrors = false;

        var result = await UserService.Login(_model);
        
        if (result.Successful)
        {
            NavigationManager.NavigateTo("/");
        }
        else
        {
            _error = result.Error;
            _showErrors = true;
        }
        
        StateHasChanged();
    }

    public async void Show()
    {
        var result = await AuthBox.Show();
        StateHasChanged();
    }

    bool _isShow;
    InputType _passwordInput = InputType.Password;
    string _passwordInputIcon = Icons.Material.Filled.VisibilityOff;

    void ButtonTestclick()
    {
    @if (_isShow)
    {
        _isShow = false;
        _passwordInputIcon = Icons.Material.Filled.VisibilityOff;
        _passwordInput = InputType.Password;
    }
    else
    {
        _isShow = true;
        _passwordInputIcon = Icons.Material.Filled.Visibility;
        _passwordInput = InputType.Text;
    }
        StateHasChanged();
    }

}