﻿@inherits LayoutComponentBase
<MudLayout>
    <LoginDisplay Class="mr-4 mt-4 text-right" Style=""/>
    <MudMainContent>
        <MudContainer>
            <div class="main">

                @Body
            </div>
        </MudContainer>
    </MudMainContent>
</MudLayout>

@code{

}