@using Fluxor
@using Keywordtracker.Shared.Models
@using KeywordTrackerFrontend.Store.LocalStorage
@using KeywordTrackerFrontend.Services
@using Microsoft.AspNetCore.Components
@inject NavigationManager _navigationManager;
@inject IDispatcher _dispatcher;
@inject IState<LocalStorageState> _state;
@inject IUserService UserService
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<MudMessageBox @ref="authBox" YesText="@null">
    <MessageContent>
        <div style="min-width: 18em">
             <MudText Typo="Typo.h4" Align="Align.Center">CHANGE PASSWORD</MudText>
                    <MudDivider DividerType="DividerType.FullWidth" Class="my-3" Style="background-color:black"/>
                    <EditForm Model="@model" OnValidSubmit="HandleLogin">
                        <DataAnnotationsValidator/>
            
                        <MudCardContent>
                            <MudTextField Label="Old password" HelperText="Enter your old Password"
                                          @bind-Value="model.Password" For="@(() => model.Password)" InputType="InputType.Password"/>
                            <MudTextField Label="New password" HelperText="Choose a new strong password" Class="mt-3"
                                          @bind-Value="model.NewPassword" For="@(() => model.NewPassword)" InputType="InputType.Password"/>
                         <MudTextField Label="Confirm old password" HelperText="Confirm your new password" Class="mt-3"
                                       @bind-Value="model.ConfirmPassword" For="@(() => model.ConfirmPassword)" InputType="InputType.Password"/>
                        </MudCardContent>
                        <MudCardActions Style="align-items: center">
                            <MudButton Class="ml-auto mr-1" ButtonType="ButtonType.Button" OnClick='() => _navigationManager.NavigateTo("/forgotpassword")'>Forgot my password</MudButton>
                            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Set password</MudButton>
                        </MudCardActions>
                    </EditForm>
                    @if (ShowErrors)
                    {
                        <div class="alert alert-danger" role="alert">
                            @foreach (var error in Error)
                            {
                                <div>@error</div>
                            }
                        </div>
                    }else if (Success){
                        <div class="alert alert-success" role="alert">
                            SUCCESS
                        </div>
                    }
        </div>
    </MessageContent>
</MudMessageBox>

@code {
    public MudMessageBox authBox;

    private ClientSideSetPasswordModel model = new();
    private bool ShowErrors;
    private IEnumerable<string> Error;
    private bool Success = false;



    private async Task HandleLogin()
    {
        ShowErrors = false;

        var result = await UserService.SetNewPassword(model);
        
        if (result.Successful){
            Success = true;
        }
        else
        {
            Error = result.Errors;
            ShowErrors = true;
        }
    }

    public async void Show()
    {
        var result = await authBox.Show();
        StateHasChanged();
    }
}