@using KeywordTrackerFrontend.Services
@using Microsoft.AspNetCore.Components
@using Keywordtracker.Shared.Models
@inject IUserService UserService
@inject NavigationManager NavigationManager

<MudMessageBox @ref="authBox" YesText="@null">
    <MessageContent>
              <div style="min-width: 20em">
        <MudText Typo="Typo.h4" Align="Align.Center">Register</MudText>
        <MudDivider DividerType="DividerType.FullWidth" Class="my-3" Style="background-color:black"/>
              <EditForm Model="@model" OnValidSubmit="HandleRegistration">
                  <DataAnnotationsValidator/>
                  <MudCardContent>
                      <MudForm>
                          <MudTextField Label="First name" HelperText="use only alphanumeric letters"
                                        @bind-Value="model.FirstName" For="@(() => model.FirstName)"/>
                          <MudTextField Label="Last name" HelperText="use only alphanumeric letters"
                                        @bind-Value="model.LastName" For="@(() => model.LastName)"/>
                          <MudTextField Label="Email" HelperText="use our preferred email"
                                        @bind-Value="model.Email" For="@(() => model.Email)"/>
                          <MudTextField Label="Password" HelperText="Choose a strong password"
                                        @bind-Value="model.Password" For="@(() => model.Password)" InputType="InputType.Password"/>
                          <MudTextField Label="Confirm Password" HelperText="Repeat the password"
                                        @bind-Value="model.ConfirmPassword" For="@(() => model.ConfirmPassword)" InputType="InputType.Password"/>

                      </MudForm>
                  </MudCardContent>
                  <MudCardActions Style="align-content: center">
                      <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Register</MudButton>
                  </MudCardActions>

                  @if (ShowErrors)
                  {
                      <div class="alert alert-danger" role="alert">
                          
                                @foreach (var error in Errors)
                                {
                                    <MudText>@error</MudText>
                                }
                          </div>
                  }else if (Success) {
                      <div class="alert alert-success align-content-center" role="alert">
                          <p>Check your Emails!</p>
                      </div>
                  }
              </EditForm>
              </div>
    </MessageContent>
</MudMessageBox>

@code {
    public MudMessageBox authBox;
    private ClientSideRegisterModel model = new();
    private bool ShowErrors;
    private IEnumerable<string> Errors;
    private bool Success = false;

    private async Task HandleRegistration()
    {
        ShowErrors = false;
        
        var result = await UserService.Register(model);

        if (result.Successful) {
            Success = true;
        }
        else
        {
            Errors = result.Errors;
            ShowErrors = true;
        }
        this.StateHasChanged();
    }

    public async void Show()
    {
        var result = await authBox.Show();
        StateHasChanged();
    }

}