<MudDialogProvider/>
<MudSnackbarProvider/>
<Fluxor.Blazor.Web.StoreInitializer/>
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <MudText>Sorry, you're not authorized to view this page at the moment</MudText> <br/>
                    <MudLink Href="/">Return to Home</MudLink>
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                   <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

<MudThemeProvider Theme="MyCustomTheme"/>

@code{

    readonly MudTheme MyCustomTheme = new()
    {
        Palette = new Palette
        {
            Primary = "#13BAF6",
            Secondary = Colors.Green.Accent4,
            AppbarBackground = "#13BAF6"
        },
        Typography = new Typography
        {
            Default = new Default
            {
                FontFamily = new[] {"Helvetica"}
            }
        },
        LayoutProperties = new LayoutProperties
        {
            DrawerWidthLeft = "260px",
            DrawerWidthRight = "300px"
        }
    };

}